<!DOCTYPE HTML> 
<html xmlns:th="http://www.thymeleaf.org"> 
<head> 
<title>Demande d'addresse</title> 
<meta http-equiv="Content-Type" content="text/html ; charset=UTF-8" />
</head> 
<body> 
<nav th:insert="~{navbar.html::navbar}">  </nav>
<form action="/meteo" method="post">
    <div class="col-auto">
    <label for="address">Please input your adress :</label>  
    <input name="address" id="address">  
    </div> 
    <div class="col-auto">
    <button class="btn btn-primary mb-3">Get the weather at the given address !</button>
    </div>  
</form >
</body>  
</html>